In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [17]:
df = pd.read_csv('data/conjunto_de_datos_viviendas_enigh2022_ns.csv')
df.head(10)

,folioviv,tipo_viv,mat_pared,mat_techos,mat_pisos,antiguedad,antigua_ne,cocina,cocina_dor,cuart_dorm,...,tot_hom,tot_muj,tot_hog,ubica_geo,tam_loc,est_socio,est_dis,upm,factor,procaptar
0,100005002,1,8,10,3,30,,1,2,2,...,0,3,1,1001,1,4,3,1,206,0
1,100005003,1,8,10,3,15,,1,2,3,...,1,1,1,1001,1,4,3,1,206,0
2,100005004,1,8,10,3,25,,1,2,3,...,2,1,1,1001,1,4,3,1,206,0
3,100012002,1,8,10,3,50,,1,2,4,...,3,2,2,1001,1,3,2,2,167,0
4,100012004,1,8,10,3,45,,1,2,3,...,2,2,1,1001,1,3,2,2,167,0
5,100012006,1,8,10,3,25,,1,2,2,...,2,2,1,1001,1,3,2,2,167,0
6,100019301,1,8,10,3,48,,1,2,5,...,0,1,1,1001,1,4,3,3,212,0
7,100019302,1,8,10,3,36,,1,2,4,...,1,2,1,1001,1,4,3,3,212,0
8,100019303,1,8,10,3,35,,1,2,3,...,1,1,1,1001,1,4,3,3,212,0
9,100019304,1,8,10,3,1,,1,2,3,...,1,4,1,1001,1,4,3,3,212,0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88823 entries, 0 to 88822
Data columns (total 64 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   folioviv     88823 non-null  int64
 1   tipo_viv     88823 non-null  object
 2   mat_pared    88823 non-null  int64
 3   mat_techos   88823 non-null  int64
 4   mat_pisos    88823 non-null  object
 5   antiguedad   88823 non-null  object
 6   antigua_ne   88823 non-null  object
 7   cocina       88823 non-null  int64
 8   cocina_dor   88823 non-null  object
 9   cuart_dorm   88823 non-null  int64
 10  num_cuarto   88823 non-null  int64
 11  disp_agua    88823 non-null  int64
 12  dotac_agua   88823 non-null  object
 13  excusado     88823 non-null  int64
 14  uso_compar   88823 non-null  object
 15  sanit_agua   88823 non-null  object
 16  biodigest    88823 non-null  object
 17  bano_comp    88823 non-null  object
 18  bano_excus   88823 non-null  object
 19  bano_regad   88823 non-null  object
 20  drenaje      88823 non-null  int64
 21  disp_elect   88823 non-null  int64
 22  focos_inca   88823 non-null  object
 23  focos_ahor   88823 non-null  object
 24  combustible  88823 non-null  object
 25  estufa_chi   88823 non-null  object
 26  eli_basura   88823 non-null  int64
 27  tenencia     88823 non-null  int64
 28  renta        88823 non-null  object
 29  estim_pago   88823 non-null  object
 30  pago_viv     88823 non-null  object
 31  pago_mesp    88823 non-null  object
 32  tipo_adqui   88823 non-null  object
 33  viv_usada    88823 non-null  object
 34  tipo_finan   88823 non-null  object
 35  num_dueno1   88823 non-null  object
 36  hog_dueno1   88823 non-null  object
 37  num_dueno2   88823 non-null  object
 38  hog_dueno2   88823 non-null  object
 39  escrituras   88823 non-null  object
 40  lavadero     88823 non-null  int64
 41  fregadero    88823 non-null  int64
 42  regadera     88823 non-null  int64
 43  tinaco_azo   88823 non-null  int64
 44  cisterna     88823 non-null  int64
 45  pileta       88823 non-null  int64
 46  calent_sol   88823 non-null  int64
 47  calent_gas   88823 non-null  int64
 48  medidor_luz  88823 non-null  int64
 49  bomba_agua   88823 non-null  int64
 50  tanque_gas   88823 non-null  int64
 51  aire_acond   88823 non-null  int64
 52  calefacc     88823 non-null  int64
 53  tot_resid    88823 non-null  int64
 54  tot_hom      88823 non-null  int64
 55  tot_muj      88823 non-null  int64
 56  tot_hog      88823 non-null  int64
 57  ubica_geo    88823 non-null  int64
 58  tam_loc      88823 non-null  int64
 59  est_socio    88823 non-null  int64
 60  est_dis      88823 non-null  int64
 61  upm          88823 non-null  int64
 62  factor       88823 non-null  int64
 63  procaptar    88823 non-null  int64
dtypes: int64(36), object(28)
memory usage: 43.4+ MB

In [18]:
features = ['antiguedad', 'cuart_dorm',	'num_cuarto','bano_comp', 'focos_inca',	'focos_ahor', 'tot_resid', 'tot_hom', 'tot_muj','cocina','ubica_geo','renta']
df.replace(" ", np.nan, inplace=True)
df = df[features]
df

,antiguedad,cuart_dorm,num_cuarto,bano_comp,focos_inca,focos_ahor,tot_resid,tot_hom,tot_muj,cocina,ubica_geo,renta
0,30,2,4,1,0,8,3,0,3,1,1001,NaN
1,15,3,5,3,0,9,2,1,1,1,1001,8500
2,25,3,7,2,0,10,3,2,1,1,1001,NaN
3,50,4,6,2,9,8,5,3,2,1,1001,NaN
4,45,3,4,2,0,17,4,2,2,1,1001,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
88818,30,1,3,1,0,5,3,2,1,1,32046,800
88819,30,2,4,1,0,7,3,1,2,1,32046,NaN
88820,NaN,1,3,1,0,5,4,2,2,1,32046,800
88821,40,1,4,2,0,28,2,1,1,1,32046,NaN
88822,NaN,1,5,1,0,8,3,1,2,1,32046,NaN

In [20]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4691 entries, 1 to 88818
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   antiguedad  4691 non-null   object
 1   cuart_dorm  4691 non-null   int64
 2   num_cuarto  4691 non-null   int64
 3   bano_comp   4691 non-null   object
 4   focos_inca  4691 non-null   object
 5   focos_ahor  4691 non-null   object
 6   tot_resid   4691 non-null   int64
 7   tot_hom     4691 non-null   int64
 8   tot_muj     4691 non-null   int64
 9   cocina      4691 non-null   int64
 10  ubica_geo   4691 non-null   int64
 11  renta       4691 non-null   object
dtypes: int64(7), object(5)
memory usage: 476.4+ KB

In [21]:
df = df.astype(int)

In [22]:
df.describe()

,antiguedad,cuart_dorm,num_cuarto,bano_comp,focos_inca,focos_ahor,tot_resid,tot_hom,tot_muj,cocina,ubica_geo,renta
count,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000
mean,19.840546,1.805798,3.350885,1.002771,0.646557,6.062247,3.220635,1.585803,1.634833,1.060328,14850.658495,2744.139416
std,15.949378,0.750846,1.315679,0.579126,1.709748,4.451440,1.651558,1.040155,1.153235,0.238119,9241.479361,3743.507407
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1001.000000,200.000000
25%,10.000000,1.000000,3.000000,1.000000,0.000000,3.000000,2.000000,1.000000,1.000000,1.000000,6010.000000,1300.000000
50%,17.000000,2.000000,3.000000,1.000000,0.000000,5.000000,3.000000,1.000000,1.000000,1.000000,14097.000000,2000.000000
75%,30.000000,2.000000,4.000000,1.000000,0.000000,8.000000,4.000000,2.000000,2.000000,1.000000,23005.000000,3000.000000
max,99.000000,8.000000,10.000000,5.000000,23.000000,70.000000,16.000000,9.000000,11.000000,2.000000,32056.000000,180000.000000

In [23]:
df.to_parquet('data_enigh.parquet')

-------

In [3]:
df = pd.read_parquet('data_enigh.parquet')
df.head()

,antiguedad,cuart_dorm,num_cuarto,bano_comp,focos_inca,focos_ahor,tot_resid,tot_hom,tot_muj,cocina,ubica_geo,renta
1,15,3,5,3,0,9,2,1,1,1,1001,8500
5,25,2,4,1,0,10,4,2,2,1,1001,4800
15,45,2,4,2,0,5,4,1,3,1,1001,1900
17,40,3,6,1,0,8,3,3,0,1,1001,1500
18,50,3,5,1,7,0,1,0,1,1,1001,2500

In [4]:
df_geo = pd.read_csv('data/catalogos/ubica_geo.csv', encoding='latin-1')
df_geo

      ubica_geo  entidad        desc_ent  municipio               desc_mun
0          1001        1  Aguascalientes          1         Aguascalientes
1          1002        1  Aguascalientes          2               Asientos
2          1003        1  Aguascalientes          3               Calvillo
3          1004        1  Aguascalientes          4                  Cosio
4          1005        1  Aguascalientes          5            Jesus Maria
...         ...      ...             ...        ...                    ...
1127      32053       32       Zacatecas         53  Villa Gonzalez Ortega
1128      32054       32       Zacatecas         54          Villa Hidalgo
1129      32055       32       Zacatecas         55             Villanueva
1130      32056       32       Zacatecas         56              Zacatecas
1131      32057       32       Zacatecas         57               Trancoso

[1132 rows x 5 columns]

In [5]:
df = df.merge(df_geo.loc[:,['ubica_geo', 'desc_ent', 'desc_mun']], how = 'left', on = 'ubica_geo')
df

,antiguedad,cuart_dorm,num_cuarto,bano_comp,focos_inca,focos_ahor,tot_resid,tot_hom,tot_muj,cocina,ubica_geo,renta,desc_ent,desc_mun
0,15,3,5,3,0,9,2,1,1,1,1001,8500,Aguascalientes,Aguascalientes
1,25,2,4,1,0,10,4,2,2,1,1001,4800,Aguascalientes,Aguascalientes
2,45,2,4,2,0,5,4,1,3,1,1001,1900,Aguascalientes,Aguascalientes
3,40,3,6,1,0,8,3,3,0,1,1001,1500,Aguascalientes,Aguascalientes
4,50,3,5,1,7,0,1,0,1,1,1001,2500,Aguascalientes,Aguascalientes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4686,17,2,3,1,4,3,5,0,5,1,32033,500,Zacatecas,Moyahua De Estrada
4687,89,1,4,1,0,6,4,1,3,1,32033,500,Zacatecas,Moyahua De Estrada
4688,1,2,3,1,0,5,4,2,2,1,32033,500,Zacatecas,Moyahua De Estrada
4689,1,2,3,0,0,3,4,3,1,1,32046,550,Zacatecas,Tepetongo
4690,30,1,3,1,0,5,3,2,1,1,32046,800,Zacatecas,Tepetongo

In [6]:
df.describe()

,antiguedad,cuart_dorm,num_cuarto,bano_comp,focos_inca,focos_ahor,tot_resid,tot_hom,tot_muj,cocina,ubica_geo,renta
count,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000,4691.000000
mean,19.840546,1.805798,3.350885,1.002771,0.646557,6.062247,3.220635,1.585803,1.634833,1.060328,14850.658495,2744.139416
std,15.949378,0.750846,1.315679,0.579126,1.709748,4.451440,1.651558,1.040155,1.153235,0.238119,9241.479361,3743.507407
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1001.000000,200.000000
25%,10.000000,1.000000,3.000000,1.000000,0.000000,3.000000,2.000000,1.000000,1.000000,1.000000,6010.000000,1300.000000
50%,17.000000,2.000000,3.000000,1.000000,0.000000,5.000000,3.000000,1.000000,1.000000,1.000000,14097.000000,2000.000000
75%,30.000000,2.000000,4.000000,1.000000,0.000000,8.000000,4.000000,2.000000,2.000000,1.000000,23005.000000,3000.000000
max,99.000000,8.000000,10.000000,5.000000,23.000000,70.000000,16.000000,9.000000,11.000000,2.000000,32056.000000,180000.000000

In [7]:
df = df.drop(['focos_inca', 'ubica_geo','cocina'], axis=1)
df.head()

,antiguedad,cuart_dorm,num_cuarto,bano_comp,focos_ahor,tot_resid,tot_hom,tot_muj,renta,desc_ent,desc_mun
0,15,3,5,3,9,2,1,1,8500,Aguascalientes,Aguascalientes
1,25,2,4,1,10,4,2,2,4800,Aguascalientes,Aguascalientes
2,45,2,4,2,5,4,1,3,1900,Aguascalientes,Aguascalientes
3,40,3,6,1,8,3,3,0,1500,Aguascalientes,Aguascalientes
4,50,3,5,1,0,1,0,1,2500,Aguascalientes,Aguascalientes

In [8]:
df = df.rename(columns={'desc_ent': 'estado', 'desc_mun': 'municipio'})
df

,antiguedad,cuart_dorm,num_cuarto,bano_comp,focos_ahor,tot_resid,tot_hom,tot_muj,renta,estado,municipio
0,15,3,5,3,9,2,1,1,8500,Aguascalientes,Aguascalientes
1,25,2,4,1,10,4,2,2,4800,Aguascalientes,Aguascalientes
2,45,2,4,2,5,4,1,3,1900,Aguascalientes,Aguascalientes
3,40,3,6,1,8,3,3,0,1500,Aguascalientes,Aguascalientes
4,50,3,5,1,0,1,0,1,2500,Aguascalientes,Aguascalientes
...,...,...,...,...,...,...,...,...,...,...,...
4686,17,2,3,1,3,5,0,5,500,Zacatecas,Moyahua De Estrada
4687,89,1,4,1,6,4,1,3,500,Zacatecas,Moyahua De Estrada
4688,1,2,3,1,5,4,2,2,500,Zacatecas,Moyahua De Estrada
4689,1,2,3,0,3,4,3,1,550,Zacatecas,Tepetongo
4690,30,1,3,1,5,3,2,1,800,Zacatecas,Tepetongo

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4691 entries, 0 to 4690
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   antiguedad  4691 non-null   int64
 1   cuart_dorm  4691 non-null   int64
 2   num_cuarto  4691 non-null   int64
 3   bano_comp   4691 non-null   int64
 4   focos_ahor  4691 non-null   int64
 5   tot_resid   4691 non-null   int64
 6   tot_hom     4691 non-null   int64
 7   tot_muj     4691 non-null   int64
 8   renta       4691 non-null   int64
 9   estado      4691 non-null   object
 10  municipio   4691 non-null   object
dtypes: int64(9), object(2)
memory usage: 403.3+ KB

In [11]:
df = df[df['renta'] <= 150000]
df.describe()

,antiguedad,cuart_dorm,num_cuarto,bano_comp,focos_ahor,tot_resid,tot_hom,tot_muj,renta
count,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000,4690.000000
mean,19.843923,1.805757,3.350533,1.002559,6.060341,3.220682,1.585714,1.634968,2706.344989
std,15.949401,0.750921,1.315599,0.579004,4.450000,1.651731,1.040248,1.153321,2704.569341
min,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,200.000000
25%,10.000000,1.000000,3.000000,1.000000,3.000000,2.000000,1.000000,1.000000,1300.000000
50%,17.000000,2.000000,3.000000,1.000000,5.000000,3.000000,1.000000,1.000000,2000.000000
75%,30.000000,2.000000,4.000000,1.000000,8.000000,4.000000,2.000000,2.000000,3000.000000
max,99.000000,8.000000,10.000000,5.000000,70.000000,16.000000,9.000000,11.000000,40000.000000

In [12]:
df.to_parquet('data_enigh_2.parquet')